
<button id="translate_product" data-toggle="tooltip" title="Translate" class="btn btn-warning"><i class="fa fa-refresh"></i></button>
<script>

$(document).on('click', '#translate_product', function() {

  var name = $('#input-name{{ from_lang_id }}').val();
  var description = $('#input-description{{ from_lang_id }}').val();
  var meta_title = $('#input-meta-title{{ from_lang_id }}').val();
  var meta_description = $('#input-meta-description{{ from_lang_id }}').val();
  var meta_keywords = $('#input-meta-keyword{{ from_lang_id }}').val();

    $.ajax({
        type: 'post',
        url: "{{ url }}",
        data: { 
          name: name,
          description: description,
          meta_title: meta_title,
          meta_description: meta_description,
          meta_keywords: meta_keywords
        },
        dataType: 'json',
        beforeSend: function() {
            $('#form-product').fadeTo('slow', 0.5);
        },
        complete: function() {
            $('#form-product').fadeTo('slow', 1);
        },
        success: function(json) {
            if(json['name']) {
                $('#input-name{{ to_lang_id }}').val(json['name']);
            }

            if (json['description']) {
                    var current_element = $('[name*="product_description[{{ to_lang_id }}][description]"]').attr('id');
                    
                    if (typeof CKEDITOR !== 'undefined' && CKEDITOR.instances[$('[name*="product_description[{{ to_lang_id }}][description]"]').attr('id')]) {
                        CKEDITOR.instances[$('[name*="product_description[{{ to_lang_id }}][description]"]').attr('id')].setData(json['description']);
                    } else if (typeof $('#' + current_element).attr('data-toggle') !== 'undefined' && $('#' + current_element).attr('data-toggle') == 'summernote') {
                        $('#' + current_element).summernote('code', json['description']);
                    }
                    console.log(3);
                    $('[name*="product_description[{{ to_lang_id }}][description]"]').val(json['description']);
            } 

            if(json['meta_title']) {
                $('#input-meta-title{{ to_lang_id }}').val(json['meta_title']);
            }

            if(json['meta_description']) {
                $('#input-meta-description{{ to_lang_id }}').val(json['meta_description']);
            }

            if(json['meta_keywords']) {
                $('#input-meta-keyword{{ to_lang_id }}').val(json['meta_keywords']);
            }
        },
        error: function(json) {
            console.log(json);
        }
    });
});


</script>